
/**
css style sheet for three html page homework assignment, 4/2016
used in index.html, portfolio.html, and contact.html

colors used homework spec:
#4AAAA5 - turquoise shade
#FFFFFF - white
#666666 - dark gray
#777777 - medium gray

colors used extra:
#DDDDDD - lighter gray
#D5D6CE - medium light gray

**/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
	font-size: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
} 
h2 {
	font-size: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4AAAA5;	
	text-align: center;
}
h3 {
	font-size: 17px;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #FFFFFF;
	background-color: #4AAAA5;
	position: absolute;
	top: 130px;
}
​
h4 {
	font-size: 18px;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	
} 
​
img {
	display: block;
	margin-left: auto;
	margin-right: auto;

}	
​
hr {
	box-shadow: none;
	width: 100%;
}
li {
	text-align: center;
	font-size: 35px;
	list-style-position: inside;
	border-style: solid;
	border-width: 5px;
}

.maintext {
	text-align: left;
	line-height: 30px;
	padding-top: 20px;
	font-size: 18px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-left: 25px;
}	

#box-head{
	height: 91px;
	background-color: #FFFFFF;
	border-bottom: solid; 
	border-color: #cccccc;

}
#box-name {
	margin-left: 160px;
	margin-right: 400px;
	height: 91px;
	line-height: 91px;
	padding-left: 30px;
	padding-right: 30px;
	position: fixed;
	background-color: #4AAAA5;
	float: left;
	position: relative;
	border-bottom: solid; 
	border-color: #cccccc;
}
#box-links {	
	height: 91px;
	line-height: 91px;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
	background-color: #FFFFFF;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:  16px;
	color: #D5D6CE;
	float: left;
	position: relative;
	border-bottom: solid; 
	border-color: #cccccc;
}
.box-footer {	
	height: 94px;
	line-height: 94px;
	text-align: center;
  	background-color: #666666;
  	position: relative;
  	border-top: solid; 
  	border-width: 6px;
	border-color: #4AAAA5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
}

.box-contact{

}
.img-project {
	position: relative;

}
.turq-banner {

}
.box-mainbox {
	background: #ffffff;
	border: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	width: 650px;
	margin-left: 160px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 40px;
	position: relative;
	float: left;

}
#box-soc {
	background: #ffffff;
	border: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	width: 270px;
	height: 200;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 30px;
	margin-left: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 25px;
	position: relative;
	float: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px;
}

#clearme {
  clear: both;
}

#box-all {	
	background-image: url(assets/images/swirl.png);	
}
