
h1 {
		font-size: 25px;
	} 
h2 {
	font-size: 18px;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;	
	}
​
h3 {
	font-size: 10px;
	text-align: left;
	margin-top: 15px;
	}
​
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}	
​
p {
	text-align: left;
	font-size: 15px;
	color: #F80B1B;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

.maintext {
	text-align: left;
	font-size: 15px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}	

​.bot3 {
	background: #ffffff;
	width: 650px;
	height: 900px;
  	
	}
.bot-footer {
	
	height: 94px;
	width: 100%;
	text-align: center;
  	background-color: #666666;
  	position: absolute;

	}
#bot-mainbox {
	background: #ffffff;
	width: 650px;
	
	position: absolute;
}